{% extends '_layout/base.html' %}
{% block head_title %}Privacy - {{ROOT_BRAND}}{% endblock %}
{% block extra_css %}
<style type="text/css">
	.header_area{
background-color: #486aae;
}
</style>
{% endblock %}
{% block main %}
<main class="side-main">
	<section class="section-padding" name="contact">
		<div class="container">
        <div class="section-intro text-center">
          <h2 class="section-intro__title">TrustScore Privacy Policy</h2>
          <p class="section-intro__subtitle">
            This page contains privacy policy of this website
          </p>
        </div> 			
        <div class="row">
        	<div class="col-md-12 col-lg-12 text-left">
				<b>Last Updated: August 26, 2019</b>
				<p>
					TrustScore. (referred to as “we” or “our”) is sensitive to privacy issues. The purpose of this Privacy Policy is to let you know how we handle the information we receive from you or your web browser through this website. This Privacy Policy applies to the information we collect from the TrustScore website, located at www.trustscore.in (collectively, the “Site”), and to information you otherwise provide directly to us. This Privacy Policy does not apply to the data processed through the authentication services we provide to our end customers.
					We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy and, in some cases, we may provide you with additional notice (such as adding a statement to our Site homepage). We encourage you to review the Privacy Policy whenever you access the Site to stay informed about our information practices and the ways you can help protect your privacy.
					Our role doesn’t just go as far as information collection; we are also entrusted to ensure the security and privacy of the collected data.
				</p>

				<p>
					<b>TrustScore Clients:</b>
					Our Clients are enterprises, companies, institutions, and businesses that have opted for our Services. The information we collect from the Clients includes their Full Name, Company Email, Phone Number and any other information required to set up their accounts, with reference to the Services they select, and the End-users they wish to verify.
					Depending on the type of verification process selected, i.e. onsite or offsite, the data is collected directly from the End-users or the Clients. In case if it is from the Clients, they take the information and image and video proofs from the End-users and pass the data to us via the API. TrustScore will verify only the information that has been provided by the End-users. In case the Clients don’t provide certain information required for the selected services, the missing information is collected from the End-users via OCR technology. They End-users will be asked to show their documents in real-time so relevant information may be extracted from them. Furthermore, if the End-user fails a certain check, the verification process ends. This is to ensure that the Client’s verification balance is not wasted if the End-user is not verified.
					The legal basis for this processing is the performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract.
				</p>

				<p>
					<b>Google Analytics:</b>
					This Website uses the functions of the web analytics service Google Analytics. The provider is Google LLC, 1600 Amphitheatre Parkway Mountain View, CA 94043, USA (“Google”). Google is certified under the EU Privacy Shield and thus guarantees compliance with European data protection laws, https://policies.google.com/privacy/frameworks
					Google Analytics uses cookies. The information generated by cookies about your use of this Website is usually transferred to a Google server in the USA and stored there.
					Google will use this information to evaluate your use of our Website, to compile reports on website activity and to provide other services associated with the use of the Website and the Internet. Google may also transfer this information to third parties if required by law or if third parties process this data on behalf of Google. Information generated by the cookies are automatically deleted by Google after 26 months.
					For more information please see the Google Privacy Policy.
					You can prevent the storage of cookies by setting your browser software accordingly; however, we would like to point out that in this case you may not be able to use all the functions of this Website in full. You can also prevent Google from collecting the data generated by the cookie and relating to your use of the Website (including your IP address) and from processing this data by Google by downloading and installing the browser plugin available under the following link: https://tools.google.com/dlpage/gaoptout?hl=en
				</p>

				<p>
					<b>Right to rectification:</b>
					You have the right to demand us to correct and/or complete your personal data if your personal data processed is incorrect or incomplete.
				</p>
				<p>
					<b>Right to erasure:</b>
					You may demand your personal data to be deleted if:
					•	(i) the personal data concerning you are no longer necessary for the purposes for which they were collected or otherwise processed;
					•	(ii) you revoke your consent to the processing and there is no other legal basis for the processing;
					•	(iii) you submit an objection to data processing and there are no predominant justifiable reasons for the processing;
					•	(iv) your personal data have been processed illegally;
					•	(v) the deletion of your personal data is necessary to fulfil a legal obligation under Union law or the law of the Member States to which we are subject.

				</p>

				<p>
					<b>Contacting Us:</b>
					If you have any questions about this Privacy Policy, would like to submit a request or have any privacy concerns. We will address your concerns and attempt to resolve any privacy concerns in a timely manner.
					Information about Us
					We are TrustScore. Our registered office is at Goa.
					If you have any questions, our contact details are: admin@trustscore.in
				</p>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}
