{% extends '_layout/base.html' %}
{% block head_title %}404 - {{ROOT_BRAND}}{% endblock %}
{% block extra_css %}
<style type="text/css">
	.header_area{
background-color: #486aae;
}
</style>
{% endblock %}
{% block main %}
<main class="side-main">
	<section class="section-padding" name="contact">
		<div class="container">
        <div class="section-intro text-center">
          <h2 class="section-intro__title">404 - Page Not Found</h2>
          <p class="section-intro__subtitle">
            You entered into the wrong wormhole
          </p>
        </div> 			

	</section>
</main>
{% endblock %}