{% extends '_layout/base.html' %}
{% block extra_css %}
{% endblock %}
{% block nav_links %}
<ul class="nav navbar-nav menu_nav justify-content-end">
  <li class="nav-item active"><a class="nav-link" href="#home">Home</a></li> 
  <li class="nav-item"><a class="nav-link" href="#features">Features</a></li> 
  <li class="nav-item"><a class="nav-link" href="#how">How</a></li>
  <li class="nav-item"><a class="nav-link" href="#benefits">Benefits</a></li>
  <li class="nav-item"><a class="nav-link" href="#products">Products</a></li>
  <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
</ul>
{% endblock %}
{% block main %}
  <main class="side-main">

    <!--================ Hero sm Banner start =================-->      
    <section class="hero-banner mb-30px" name="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="hero-banner__img">
              <img class="img-fluid" src="{{STATIC_URL}}public/img/banner/hero-banner.png" alt="Mr. T">
            </div>
          </div>
          <div class="col-lg-5 pt-5">
            <div class="hero-banner__content">
              <h1>Grow your business securely with {{ROOT_BRAND}}</h1>
              <p>We provide Trusted customer onboarding solutions for Consumer web.
                By acting as an Application Defence with a plug-and-play Document & Identity Verification and Authentication (<b>DIVA</b>) service.
              </p>
              <a class="button bg" href="{{API_URL}}">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero sm Banner end =================-->


    <!--================ Feature section start =================-->      
    <section class="section-margin" name="features">
      <div class="container">
        <div class="section-intro pb-85px text-center">
          <h2 class="section-intro__title">Fraud Prevention And Digital Identity Verification Solution</h2>
          <p class="section-intro__subtitle"><b>DIVA</b> is rooted in the identity verifying power of the documents provided by the users during journey. Easy to integrate in any existing web or mobile origination journey.</p>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                <span class="card-feature__icon">
                  <i class="ti-user"></i>
                </span>
                <h3 class="card-feature__title">Instant Identity Verifications</h3>
                <p class="card-feature__subtitle">We rely on non-sensitive data sources, as provided by the business or customer to make decision.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                <span class="card-feature__icon">
                  <i class="ti-bookmark-alt"></i>
                </span>
                <h3 class="card-feature__title">Documents Authentications</h3>
                <p class="card-feature__subtitle">Smart document data extraction, Image analysis service based on ML (Computer Vision).</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                <span class="card-feature__icon">
                  <i class="ti-image"></i>
                </span>
                <h3 class="card-feature__title">Anomaly Detection</h3>
                <p class="card-feature__subtitle">Prevent Synthetic Identity fraud, where an Identity document appears to be real, but is not.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Feature section end =================-->      
          
    
    <!--================ How section start =================-->      
    <section class="section-margin" name="how">
      <div class="container">
        <div class="section-intro pb-85px text-center">
          <h2 class="section-intro__title">How Does TrustScore Work?</h2>
          <p class="section-intro__subtitle">Use TrustScore directly in your risk engine. Ensure Identity Verification and Prevent Fraud</p>
        </div>

        <div class="row">
          <div class="col-lg-6">

            <div class="row offer-single-wrapper">
              <div class="col-lg-6 offer-single">
                <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-export"></i>
                  </span>
                  <h4>Data Extraction</h4>
                  <p>We extract information from KYC images using optical character recognition (OCR) to auto-fill, thus saving time and eliminating human errors.</p>
                </div>
              </div>
              
              <div class="col-lg-6 offer-single">
                <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-server"></i>
                  </span>
                  <h4>Profile Verification</h4>
                  <p>We run realtime checks across multiple Open-source intelligence (OSINT) and Private TrustDB</p>
                </div>
              </div>
            </div>

            <div class="row offer-single-wrapper">
              <div class="col-lg-6 offer-single">
                <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-id-badge"></i>
                  </span>
                  <h4>Document Validation</h4>
                  <p>Our machine learning algorithms detect any template changes of documents by analyzing Pixels, Text Heuristic & Geometric Alignments</p>
                </div>
              </div>
              
              <div class="col-lg-6 offer-single">
                <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-gallery"></i>
                  </span>
                  <h4>Face Authentication</h4>
                  <p>We measure the likelihood of faces in two images by analyzing verious face attributes.
                    We also detect age range of the person.
                  </p>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="offer-single__img">
              <img class="img-fluid" src="{{STATIC_URL}}public/img/home/offer.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ How section end =================-->      


    <!--================ benefits section start =================-->      
    <section class="section-padding--small bg-magnolia" name="benefits">
      <div class="container">
        <div class="row align-items-center pt-xl-3 pb-xl-5">
          <div class="col-lg-6">
            <div class="solution__img text-center text-lg-left mb-4 mb-lg-0">
              <img class="img-fluid" src="{{STATIC_URL}}public/img/home/solution.png" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="solution__content">
              <h2>Benefits to Businesses</h2>
              <p>We let you provide a better experience to your good customers and have human error out of the identity and document authentication processes.
              Thus, Increase Revenue, Remove Friction and Enable Trust.</p>
              <a class="button button-light" href="{{APP_URL}}">Know More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ benefits section end =================-->      


    <!--================ product section start =================-->      
    <section class="section-margin" name="products">
      <div class="container">

        <div class="section-intro text-left">
          <h2 class="section-intro__title">Three Layers of Trust</h2>
          <p class="section-intro__subtitle"></p>
        </div>

        <div class="row no-gutters align-items-center">
          <div class="col-md-7 mb-7 mb-md-0">
            <div class="about__content">
            
            <div class="row offer-single-wrapper">
              <div class="col-lg-4 offer-single">
                <div class="card offer-single__content text-center product-card">
                  <span class="offer-single__icon">
                    <i class="ti-user"></i>
                  </span>
                  <h4>TrustInsta</h4>
                  <p class="text-left">Our identification service work on the basic contact details (Email and Mobile Number).</p>
                </div>
              </div>
              
              <div class="col-lg-4 offer-single">
                <div class="card offer-single__content text-center product-card">
                  <span class="offer-single__icon">
                    <i class="ti-bookmark-alt"></i>
                  </span>
                  <h4>TrustKYC</h4>
                  <p class="text-left">Our KYC verification API is compliance ready, real-time, fast, and efficient. </p>
                </div>
              </div>


              <div class="col-lg-4 offer-single">
                <div class="card offer-single__content text-center product-card">
                  <span class="offer-single__icon">
                    <i class="ti-image"></i>
                  </span>
                  <h4>TrustDoc</h4>
                  <p class="text-left">We use machine learning algorithms to validate authenticity of documents and accurately connect a person’s documents with real-world identities.</p>
                </div>
              </div>
              
            </div>
                       

            </div>
          </div>
          <div class="col-md-5">
            <div class="about__img">
              <img class="img-fluid" src="{{STATIC_URL}}public/img/home/about.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ product section end =================-->


    <!-- ================ contact section start ================= -->
    <section class="section-padding--small bg-magnolia" name="contact">
      <div class="container">
        
        <div class="section-intro pb-85px text-center">
          <h2 class="section-intro__title">Build your business with TrustScore</h2>
          <p class="section-intro__subtitle"></p>
        </div>        

        <div class="row pb-85px">
          <div class="col-md-3 col-lg-3 mb-4 mb-md-0">
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="ti-home"></i></span>
              <div class="media-body">
                <h3>Goa India</h3>
                <p>Dona Paula, Panjim</p>
              </div>
            </div>

            <div class="media contact-info">
              <span class="contact-info__icon"><i class="ti-email"></i></span>
              <div class="media-body">
                <h3><a href="mailto:admin@trustscore.in">admin@trustscore.in</a></h3>
                <p>Send us your query anytime!</p>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-9">
            <form class="form-contact contact_form" method="post" id="contactForm">
              <div class="row">
                <div class="col-lg-5">
                  <div class="form-group">
                    <input class="form-control" name="name" id="name" type="text" required="required" placeholder="Enter your name">
                  </div>
                  <div class="form-group">
                    <input class="form-control" name="email" id="email" type="email" required="required" placeholder="Enter email address">
                  </div>
                  <div class="form-group">
                    <input class="form-control" name="subject" id="subject" type="text" required="required" placeholder="Enter Subject">
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="form-group">
                      <textarea class="form-control different-control w-100" name="message" required="required" id="message" cols="30" rows="5" placeholder="Enter Message"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group text-center text-md-right mt-3">
                <button type="submit" class="button button-contactForm">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ contact section end ================= -->

  </main>
{% endblock %}