{"swagger": "2.0", "info": {"title": "TrustScore API", "description": "# Introduction\n\n## Fraud Prevention and Digital Identity Verification Solution\n\n### Verify and onboard your customers in seconds.\n\n#### Our solutions can be seamlessly integrated into your website, app or product.\n\n> We are building TrustScore, as a product that would ease user onboarding and enable real-time user identity trust for businesses (esp. for Financial services).\n\n# OpenAPI\n\n## Swagger UI\n\n### [Explore API](/api/swagger/)\n", "termsOfService": "https://www.trustscore.in/#terms", "contact": {"name": "TrustScore Admin", "url": "https://www.trustscore.in", "email": "admin@trustscore.in"}, "x-logo": {"altText": "TrustScore", "backgroundColor": "#FFFFFF", "href": "/api/", "url": "/static/public/images/TrustScore.png"}, "version": "v0.1.0"}, "host": "www.trustscore.in", "schemes": ["https"], "basePath": "/api", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Session": {"type": "session"}, "Token": {"in": "header", "name": "Authorization", "type": "apiKey"}}, "security": [{"Session": []}, {"Token": []}], "paths": {"/identity/": {"post": {"operationId": "identityCreate", "summary": "Add a new Identity", "description": "Add a new Identity to process the authenticity\nand to detect different types of fraud for the same.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Identity"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Identity"}}}, "tags": ["identity"]}, "parameters": []}, "/information/{identity_id}": {"get": {"operationId": "informationRead", "summary": "Get Information for an Identity", "description": "Get Information for an Identity given by ID\nafter successful processing of Identity post.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Information"}}}, "tags": ["information"]}, "parameters": [{"name": "identity_id", "in": "path", "required": true, "type": "string"}]}}, "definitions": {"Identity": {"required": ["doc_image"], "type": "object", "properties": {"doc_image": {"title": "Doc image", "type": "string", "writeOnly": true, "format": "bytes"}, "live_image": {"title": "Live image", "type": "string", "writeOnly": true, "format": "bytes"}, "email": {"title": "Email", "type": "string", "format": "email", "maxLength": 200, "x-nullable": true}, "number": {"title": "Number", "type": "string", "maxLength": 20, "x-nullable": true}, "name": {"title": "Name", "type": "string", "maxLength": 255, "x-nullable": true}, "doc_type": {"title": "Document Type", "type": "string", "enum": ["PAN", "AADHAAR", "VOTER_ID", "PASSPORT"], "x-nullable": true}, "proc_mode": {"title": "Process Mode", "type": "string", "enum": ["ASYNC", "SYNC"]}, "id": {"title": "Id", "type": "string", "readOnly": true}}}, "Information": {"required": ["identity_id"], "type": "object", "properties": {"primary_name": {"title": "Primary name", "type": "string", "maxLength": 255, "x-nullable": true}, "secondary_name": {"title": "Secondary name", "type": "string", "maxLength": 255, "x-nullable": true}, "dob": {"title": "Date of Birth", "type": "string", "format": "date", "x-nullable": true}, "doc_type": {"title": "Document Type", "type": "string", "enum": ["PAN", "AADHAAR", "VOTER_ID", "PASSPORT"], "x-nullable": true}, "doc_number": {"title": "Document Number", "type": "string", "maxLength": 50, "x-nullable": true}, "doc_number_valid": {"title": "Doc number valid", "type": "boolean", "x-nullable": true}, "face_match": {"title": "Face match", "type": "boolean", "x-nullable": true}, "trust_score": {"title": "Trust score", "type": "number", "x-nullable": true}, "identity_fake": {"title": "Identity fake", "type": "boolean", "x-nullable": true}, "identity_id": {"title": "Identity id", "type": "string", "maxLength": 50, "minLength": 1}}}}, "tags": [{"name": "identity"}, {"name": "information"}]}